body {
    font-family: 'Play', serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f5f5f5;
    color: #333;
}

header {
    width: 100%;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.logo img {
    height: 50px;
}

main {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 20px;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h2 {
    font-size: 2em;
    color: #aaa;
    margin-bottom: 20px;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
}

.news-content img, .login-content img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.news-content p, .login-content p {
    font-size: 1.2em;
    color: #555;
}

.play-regular {
    font-family: "Play", serif;
    font-weight: 400;
    font-style: normal;
}

.play-bold {
    font-family: "Play", serif;
    font-weight: 700;
    font-style: normal;
}
